<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SCRSelectedCompileOptionsInfoSaveName</key>
	<dict>
		<key>Tag</key>
		<integer>0</integer>
		<key>Title</key>
		<string>Custom</string>
	</dict>
	<key>binderSelection</key>
	<array>
		<integer>46</integer>
	</array>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {411, 908}}</string>
		<string>{{412, 0}, {725, 908}}</string>
	</array>
	<key>binderState</key>
	<array>
		<integer>0</integer>
		<integer>16</integer>
		<integer>13</integer>
		<integer>18</integer>
		<integer>12</integer>
		<integer>23</integer>
		<integer>26</integer>
		<integer>156</integer>
		<integer>157</integer>
		<integer>1</integer>
		<integer>226</integer>
		<integer>2</integer>
	</array>
	<key>collectionSelectionAutosaveName</key>
	<array>
		<integer>4</integer>
	</array>
	<key>collectionsHeight</key>
	<real>101</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {904, 529}}</string>
		<string>{{0, 539}, {904, 352}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>fullScreenBackgroundFade</key>
	<real>0.89999997615814209</real>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenPaperHeight</key>
	<integer>-1</integer>
	<key>fullScreenPaperPosition</key>
	<integer>0</integer>
	<key>fullScreenPaperWidth</key>
	<integer>906</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>textScale</key>
		<integer>100</integer>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<true/>
	</dict>
	<key>inspectorIsCollapsed</key>
	<true/>
	<key>inspectorReferencesColumns</key>
	<dict>
		<key>order</key>
		<array>
			<string>ICON</string>
			<string>DESCRIPTION</string>
			<string>URL</string>
		</array>
		<key>widths</key>
		<dict>
			<key>DESCRIPTION</key>
			<real>87</real>
			<key>ICON</key>
			<real>16</real>
			<key>URL</key>
			<real>115.44239807128906</real>
		</dict>
	</dict>
	<key>inspectorSelectedDataTab</key>
	<integer>5</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {731, 712}}</string>
		<string>{{732, 0}, {227, 712}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>227</real>
	<key>lastDocumentSplitType</key>
	<integer>0</integer>
	<key>mainDocumentEditor.binderDocuments</key>
	<array/>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.lockedInPlace</key>
	<false/>
	<key>mainDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 304}}</string>
	<key>mainDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<true/>
		<key>textScale</key>
		<integer>100</integer>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>mainDocumentView</key>
	<string>supportingDocumentEditor</string>
	<key>mainWindowFrame</key>
	<string>684 127 1137 930 0 0 1920 1057 </string>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
			<string>LABEL</string>
			<string>STATUS</string>
		</array>
		<key>widths</key>
		<dict>
			<key>LABEL</key>
			<real>47</real>
			<key>STATUS</key>
			<real>364.66162109375</real>
			<key>TITLE</key>
			<real>120</real>
		</dict>
	</dict>
	<key>selectedCollectionTabIndex</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array>
		<integer>228</integer>
	</array>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.lockedInPlace</key>
	<false/>
	<key>supportingDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>84</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>210</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>221</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>29</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>5</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>15</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>14</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>11</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>5</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>6</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>180</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>6</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>159</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>233</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>6</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>7</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>8</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>19</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>9</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>20</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>9</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>159</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>27</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>234</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>20</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>9</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>8</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>19</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>9</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>19</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>9</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>15</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>14</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>11</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>5</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>21</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>20</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>206</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>20</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>29</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>200</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>9</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>19</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>9</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>200</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>9</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>19</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>21</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>22</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>24</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>22</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>24</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>26</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>22</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>24</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>25</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>158</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>34</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>5</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>21</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>159</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>158</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>179</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>124</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>131</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>206</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>194</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>204</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>30</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>25</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>181</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>8</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>181</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>206</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>221</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>194</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>208</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>67</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>181</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>206</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>221</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>194</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>2</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>154</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>2</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>228</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 382}, {710, 798}}</string>
	<key>supportingDocumentEditor.selectedRanges</key>
	<string>{1041, 0}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<true/>
		<key>textScale</key>
		<integer>100</integer>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
