.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Blockbuster.RProj
*.html
Data/EarthStat/*
Data/GRDC/*
Data/NaturalEarth/*
Drafts/*
References/*
Research/*
Supplements/*
Visual Elements/*
Code/Working/*
_EACCRPBT.scriv/Files/user.lock
Current/*